@charset 'UTF-8';
/* Arrows */
.slick-prev,
.slick-next {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
  top: auto;
  bottom: -45px;
}

.slick-prev {
  left: 25px;
}
.slick-next {
  right: 25px;
}
